<div class="row">
  <div class="col-lg-12 text-center">
    <p>
      You're player <%= @player %>.
      <% if @player == 1 %>
        <strong class="text-danger">RED</strong>
      <% else %>
        <strong class="text-primary">BLUE</strong>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="board">
      <tbody>
        <!-- This will house the buttons to drop discs -->
        <tr>
          <% Board::COLS.times do |column| %>
            <td>
              <%= button_to '↓', play_path(@player, column: column), remote: true, method: :post, class: 'btn' %>
            </td>
          <% end %>
        </tr>

        <% Board::ROWS.times do |row| %>
          <tr>
            <% Board::COLS.times do |col| %>
              <td id="<%= "cell_#{row}_#{col}" %>">
                <% if @player_one_array[row][col] == 1 %>
                  <div class="red"></div>
                <% elsif @player_two_array[row][col] == 1 %>
                  <div class="blue"></div>
                <% else %>
                  <div></div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
